body {
     margin: 0;
     padding: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #0B0B15; /* Cor de fundo do body */
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .form-container {
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 100%;
     max-width: 400px;
     text-align: center;
 }
 
 .logo-name {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
     font-family: "Arvo", serif;
     font-size: 50px;
     line-height: 61.74px; 
     color: white;    
 }
 
 .logo {
     width: 50px;
     height: 50px;
     margin-left: 10px;
 }
 
 h1 {
     font-size: 44px;
     font-weight: 300; 
 }
 
 .welcome-message {
     color: #FFFFFF;
     font-family: "Poppins", system-ui;
     font-size: 14px; /* Ajustado para um único tamanho */
     font-weight: 400;
     line-height: 18px;
     text-align: center;
     margin-bottom: 50px;
 }
 
 h2 {
     color: #FFFFFF;
     font-family: "Poppins", system-ui;  
     font-size: 30px;
     font-weight: 600;
     line-height: 45px;
     margin: 0 0 20px 0; /* Ajustado para evitar valores desnecessários */
 }
 
 input[type="text"], input[type="password"] {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 99px; /* Unificado a uma única declaração */
     background-color: #E2E2E2;
 }
 
 input::placeholder { /* Para ambos os tipos de input */
     color: #9CA3AF; 
     font-style: italic; 
     font-family: Poppins;
     font-size: 15px;
     font-weight: 300;
     line-height: 22.5px;
     text-align: left;
 }
 
 #labelNome,
 #labelSenha,
 #labelEmail,
 #labelConfirmarSenha,
 #labelCriarSenha {
     font-family: Poppins;
     font-size: 15px;
     font-weight: 400;
     line-height: 22.5px;
     text-align: left;
     color: #FFFFFF;
 }
 
 #labelNome {
     padding-right: 80px;             
 }
 
 #labelSenha {
     padding-right: 240px;             
 }
 
 .forgot-password {
     color: white;
     font-family: Poppins;
     font-size: 15px;
     font-weight: 400;
     line-height: 22.5px;
     text-align: left;
     opacity: 0; /* Considerar revisar a necessidade de `opacity: 0;` */
 }
 
 .forgot-password:hover {
     text-decoration: underline;
     color: #007bff;
 }
 
 button {
     width: 50%;
     padding: 10px;
     margin: 10px 0;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     font-family: Poppins;
 }
 
 .btn-cadastro {
     background-color: #103ADA;
     color: white;
     border-radius: 99px;
     margin-top: 23px;
 }
 
 .btn-cadastro:hover {
     text-decoration: underline;
 }
 
 #textoSenha {
     font-family: Poppins;
     font-size: 12px;
     font-weight: 400;
     line-height: 18px;
     text-align: center;
     color: #797979;
 }
 
 .cadastro-container label {
     font-family: Poppins;
     font-size: 15px;
     font-weight: 400;
     line-height: 22.5px;
     text-align: left;
     color: #E2E2E2;
 }
 
 .custom-select {
     position: relative;
     display: inline-block;
     width: 100%;
 }
 
 .selected-option {
     display: flex;
     align-items: center;
     padding: 10px;
     background-color: #E2E2E2;
     border: 1px solid #ccc;
     border-radius: 99px;
     cursor: pointer;
 }
 
 .selected-option img {
     margin-right: 8px;
     width: 20px;
     height: 20px;
 }
 
 .options-container {
     position: absolute;
     background-color: #E2E2E2;
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 100%;
     display: none;
     z-index: 1;
 }
 
 .options-container div {
     display: flex;
     align-items: center;
     padding: 10px;
     cursor: pointer;
     background-color: #E2E2E2;
 }
 
 .options-container div:hover {
     background-color: #d4d4d4;
 }
 
 #tipoCargo {
     display: none;
 }
 
 .cadastro-container img {
     background-color: #E2E2E2;
     width: 25px;
     height: 25px;
 }
 
 .options-container span,
 .cadastro-container span {
     background-color: #E2E2E2;
     font-family: Poppins;
 }
 
 .polygon {
     background-color: #E2E2E2;
     margin-left: 190px;
 }
 
 label {
     display: block; 
     margin-bottom: 1px; 
     text-align: left; 
 }
 
 .message-card {
    position: fixed;
    top: 20px; /* Alinhado ao topo da página */
    left: 50%; /* Centralizado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralizar o card */
    background: linear-gradient(135deg, #23f379, #23f379); /* Gradiente de fundo */
    color: white; /* Texto branco */
    padding: 20px;
    border-radius: 10px; /* Borda mais arredondada */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
    font-size: 18px;
    z-index: 1000; 
    transition: opacity 0.5s ease, transform 0.3s ease; /* Animação na transformação */
    font-family: 'Poppins', sans-serif; /* Incluindo uma fonte padrão de backup */
    display: flex;
    align-items: center; /* Alinha verticalmente */
    opacity: 1; /* Iniciar com opacidade total */
    transform: translateX(-50%) scale(1); /* Escala inicial */
    border: none;
}


.message-card.show {
    opacity: 1; /* Exibe o card */
    transform: translate(-50%, -50%) scale(1.05); /* Efeito de escala ao exibir */
}


img{
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 20px;
}

.hidden {
    display: none; 
}

#msgLogin{
    color: #FFFFFF;
    font-family: "Poppins", system-ui;  
    font-size: 20px;
}


#msgLogin a{
    text-decoration: none;
    color: #4b6fff;
}

#msgLogin a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

