/* HomepageCoordenacao.css */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', system-ui; 
    font-weight: 400; 
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #0037ff;
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
}   

.logo-container h1 {
    margin-right: 10px;
}

.logo-container img {
    height: 40px;
}

header .titulo {
    margin-right: 10px; 
    font-size: 40px;
    font-family: 'Arvo', system-ui; 
}

.main-container {
    display: flex;
    height: calc(100vh - 80px); 
}

.ola {
    font-size: 30px;
}

.highlight {
    font-size: 35px; 
    color: #007bff;  
    font-weight: normal; 
}

.sidebar {
    width: 80px; 
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    height: 100%; 
    position: relative;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar .nav-button {
    background: none;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.nav-button img {
    height: 50px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

main {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para os cards */
.category {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid transparent; 
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo */
}

.category img {
    width: 60px; /* Tamanho da imagem */
    height: 60px; /* Tamanho da imagem */
    border-radius: 50%; /* Formato redondo */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

.category h2 {
    color: #333;
    font-size: 20px;
    margin: 5px 0; /* Margem superior e inferior */
}

.category p.professor {
    font-size: 16px;
    color: #555;
    margin: 5px 0; /* Margem superior e inferior */
}

.category.selected {
    background-color: #036AC9; 
    color: #ffffff; 
    border: 2px solid #ffffff; 
}

.category.selected h2, .category.selected p.professor {
    color: #ffffff;
}

.discipline {
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around; /* Distribui os botões com espaço */
    margin-top: 10px;
    width: 100%; /* Largura total para os botões */
}

.buttons button {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 8px 12px; /* Ajuste do padding para deixar os botões mais proporcionais */
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category.selected .buttons button {
    background-color: #036AC9; 
    border: 2px solid #ffffff; 
    color: #ffffff; 
}

.category.selected .buttons button:hover {
    background-color: #ffffff; 
    color: #036AC9; 
    border: 2px solid #036AC9; 
}

.buttons button:hover {
    background-color: #036AC9;
    border: 2px solid #036AC9;
    color: #ffffff;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 20px;
    background: transparent;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-dropdown:hover {
    background-color: #ffffff;
    color: #000000;
}


.add-button:hover {
    background-color: #0056b3;
}

/* Estilos para o modal de adicionar matéria */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

#materias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

/* Estilos adicionais para os cards de matérias */
.category {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center; /* Centraliza o texto dentro do card */
}

.category .discipline {
    font-size: 18px;
    font-weight: bold;
}

.category .professor {
    font-size: 16px;
    color: #555;
}
