body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', system-ui; 
    font-weight: 400; 
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #0037ff;
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    margin-right: 10px;
}

.logo-container img {
    height: 40px;
}

header .titulo {
    margin-right: 10px; 
    font-size: 40px;
    font-family: 'Arvo', system-ui; 
}

.main-container {
    display: flex;
    height: calc(100vh - 80px); 
}

.ola {
    font-size: 30px;
}

.highlight {
    font-size: 35px; 
    color: #007bff;  
    font-weight: normal; 
}

.sidebar {
    width: 80px; 
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    height: 100%; 
    position: relative;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar .nav-button {
    background: none;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.nav-button img {
    height: 50px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

main {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid transparent; 
}

.category h2, .category p.professor {
    color: #333;
    font-size: 20px;
}

.category.selected {
    background-color: #036AC9; 
    color: #ffffff; 
    border: 2px solid #ffffff; 
}

.category.selected h2, .category.selected p.professor {
    color: #ffffff;
}
.discipline{
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.buttons button {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category.selected .buttons button {
    background-color: #036AC9; 
    border: 2px solid #ffffff; 
    color: #ffffff; 
}

.category.selected .buttons button:hover {
    background-color: #ffffff; 
    color: #036AC9; 
    border: 2px solid #036AC9; 
}

.buttons button:hover {
    background-color: #036AC9;
    border: 2px solid #036AC9;
    color: #ffffff;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 20px;
    background: transparent;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-dropdown:hover {
    background-color: #ffffff;
    color: #000000;
}
