body {
          background-color: #FFFFFF;
          height: 100%;
          margin: 0;
          padding: 0;
      
      }
      
      header {
          background-color: #0037FF; /* Cor do fundo do cabeçalho */
          color: white;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          width: 100%;
      }

      header h1{
          font-family: "Arvo", serif;
          font-size: 24px;
          font-weight: 200;
          line-height: 29.64px;
          text-align: left;
          margin-left: 2px;
      }
      
      .header-content {
          display: flex;
          align-items: center;
      }
      
      .header-image {
          width: 40px; /* Ajuste o tamanho da imagem */
          height: 40px; /* Ajuste o tamanho da imagem */
          margin-left: 10px;
          text-align: center;
          align-items: center;
          margin-bottom: 10px;
      }
      
      .sidebar {
          position: fixed;
          left: 0;
          top: 82px; /* Distância do topo (ajuste conforme a altura do cabeçalho) */
          width: 40px; /* Largura do menu lateral */
          background-color: #FFFFFF; /* Cor do fundo do menu lateral */
          padding: 10px;
          box-shadow: 0px 4px 10px 0px #00000026;
          height: 100%;
      }
      
      .sidebar ul {
          list-style-type: none; /* Remove marcadores da lista */
          padding: 0;
      }
      
      .sidebar li {
          margin: 15px 0; /* Espaçamento entre os itens */
      }
      
      .sidebar img {
          width: 40px; /* Ajuste o tamanho da imagem do menu */
          height: 40px; /* Ajuste o tamanho da imagem do menu */
      }
      

      #titulo {
          position: relative;      /* Necessário para posicionar o h1 e a imagem */
          text-align: center;      /* Centraliza o h1 */
          height: 100px;           /* Ajuste a altura conforme necessário */
      }


      #titulo h1{
        width: 156px;
        font-family: "Poppins";
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: #0037FF;
    }

    
    #titulo h2{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        margin-top: -20px;
    }
      
      #titulo img {
          position: absolute;      /* Posiciona a imagem de forma independente do fluxo normal */
          left: 80px;                 /* Posiciona a imagem à esquerda */
          top: 40%;                /* Centraliza verticalmente em relação ao contêiner */
          transform: translateY(-50%);
      }
      
      #titulo h1 {
          display: inline-block;   /* Garante que o h1 ocupe o espaço central */
      }

      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto; /* Margem superior e inferior para espaçamento */
        padding: 20px; /* Espaçamento interno */
        width: 80%; /* Largura do formulário */
        max-width: 600px; /* Largura máxima do formulário */
        border: none; /* Borda do formulário */
        border-radius: 8px; /* Bordas arredondadas */
        background-color: #FFFFFF; /* Cor de fundo do formulário */
    }
    
    .form-container h3 {
        margin: 10px 0; /* Espaçamento para os títulos do formulário */
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        color: #103ADA;
        margin-right: 130px;
    }
    
    .form-container h4{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #575F6E;
        margin-top: -10px;
        margin-right: 115px;
    }

    form {
        display: flex;
        flex-direction: column; /* Itens do formulário em coluna */
        width: 100%; /* Largura total do formulário */
        margin-left: 300px;
    }
    
    label {
        margin-top: 10px; /* Espaçamento acima do label */
        margin-bottom: 5px; /* Espaçamento abaixo do label */
        font-weight: 600; /* Negrito para os labels */
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }
    
    input, select {
        border: none;
        border-bottom: 1px solid #ccc;
        width: 326px;
        padding: 4px;
        margin-top: 8px;
        font-size: 1rem;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        margin-bottom: 20px;
    }

    input:focus {
        outline: none;
        border-bottom: 1px solid #000;
      }
    
    button {
        padding: 10px;
        background-color: #0037FF; /* Cor de fundo do botão */
        color: white; /* Cor do texto do botão */
        border: none; /* Remove borda do botão */
        border-radius: 4px; /* Bordas arredondadas para o botão */
        cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
        width: 326px;
        font-family: Roboto;
    }
    
    button:hover {
        background-color: #0056cc; /* Cor do botão ao passar o mouse */
    }
    
